<p id="notice"><%= notice %></p>

<p>
  <b>Headline:</b>
  <%= @article.headline %>
</p>

<p>
  <b>Deck:</b>
  <%= @article.deck %>
</p>

<p>
  <b>Story:</b>
  <%= @article.story %>
</p>

<p>
  <b>Published:</b>
  <%= @article.published_on %>
</p>

<p>
  <b>Grade:</b>
  <%= @article.grade %>
</p>

<p>
  <b>Author:</b>
  <%= @article.user.name %>
</p>

<p>
  <b>News Agency:</b>
  <%= @article.news_agency.name if @article.news_agency%>
</p>

<% if can? :update, @article %>
	<%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
