<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
  	<% map = User::ROLES.map{|a| [a, 2 ** User::ROLES.index(a)]} %>
  	<% map.each do |a| %>
  		<%= check_box_tag('role[' + a[0] + ']', a[1])%>
  		<%= label_tag(a[1], a[0]) %>
  		<br />
  	<% end %>
  </div>
  
  <% roles = Ability.get_permissions(current_user.role) %>
  <% if roles.include?"admin" %>

    <div class="field">
      
      <!--<%= f.collection_select :role, User::ROLES, :to_s , :humanize %>-->
      <!--<% map = User::ROLES.map{|a| [a, 2 ** User::ROLES.index(a)]} %> -->
      <!--<%= f.select :role, options_for_select(map, @user.role) %>-->
    </div>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
