<%= form_for @user, :validate => true do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  
  <% if current_role.include?"admin" %>

  <div class="field">
    <% roles = Ability.get_permissions(@user.role)%>
  	<% map = User::ROLES.map{|a| [a, 2 ** User::ROLES.index(a)]} %>
  	<% map.each do |a| %>
      <% if roles.include?(a[0]) %>
  		  <%= check_box_tag('role[' + a[0] + ']', a[1], checked: true)%>
      <% else %>
        <%= check_box_tag('role[' + a[0] + ']', a[1])%>
      <% end %>
  		<%= label_tag(a[1], a[0]) %>
  		<br />
  	<% end %>
  </div>

  <p>
    <%= f.label :country %>
    <%= select(:user, :country, User::COUNTRY) %>
  </p>

  <% end %>
 
  <div class="field">
    <%= f.label 'Boss' %>
    <%= collection_select(:boss, :boss, @bosses_array, :_id, :name,{:include_blank => "Select boss"}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
