<%= form_for(@news_agency) do |f| %>
  <% if @news_agency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news_agency.errors.count, "error") %> prohibited this news_agency from being saved:</h2>

      <ul>
      <% @news_agency.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :feed_url %><br />
    <%= f.text_field :feed_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
