<h1>Listing noticia</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Bajada</th>
    <th>Cuerpo</th>
    <th>Autor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @noticia.each do |noticium| %>
  <tr>
    <td><%= noticium.titulo %></td>
    <td><%= noticium.bajada %></td>
    <td><%= noticium.cuerpo %></td>
    <td><%= noticium.autor %></td>
    <td><%= link_to 'Show', noticium %></td>
    <td><%= link_to 'Edit', edit_noticium_path(noticium) %></td>
    <td><%= link_to 'Destroy', noticium, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Noticium', new_noticium_path %>
