<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @noticium.titulo %>
</p>

<p>
  <b>Bajada:</b>
  <%= @noticium.bajada %>
</p>

<p>
  <b>Cuerpo:</b>
  <%= @noticium.cuerpo %>
</p>

<p>
  <b>Autor:</b>
  <%= @noticium.autor %>
</p>


<%= link_to 'Edit', edit_noticium_path(@noticium) %> |
<%= link_to 'Back', noticia_path %>
