<p id="notice"><%= notice %></p>

<p>
  <b>Headline:</b>
  <%= @json['headline'] %>
</p>

<p>
  <b>Deck:</b>
  <%= @json['deck'] %>
</p>

<p>
  <b>Story:</b>
  <%= @json['story'] %>
</p>

<%= link_to 'Back', noticia_path %>

