<!DOCTYPE html>
<html>
<head>
  <% cache "files" do %>
  <title>NewsRoom</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.min.css" rel="stylesheet">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  <% end %>
</head>
<body>

<div id="user-nav">

  <% if current_user %>

    <i class="icon-user"></i> <%= current_user.email %> |
    <%= link_to articles_path do%> <i class="icon-home"></i> <% end%>  |
    <%= link_to log_out_path do%>  <i class="icon-off"></i> <%end%>

    <% roles = Ability.get_permissions(current_user.role) %>

    <ul class="nav nav-pills pull-right">
      <% if roles.include?"admin" %>
        <li><%= link_to "News Agencies", news_agencies_path %></li>
        <li><%= link_to "User Manager", users_path %></li>
      <% end %>
        <% if roles.include?"admin" or roles.include?"editor" %>
      	<li><%= link_to "Editor Evaluation", non_published_path %></li>
      <% end %>
      <% if roles.include?"admin" or roles.include?"chief_editor" %>
        <li><%= link_to "Chief Editor Evaluation", chief_editors_path %></li>
      <% end %>
      <% if roles.include?"admin" %>
        <li><%= link_to "Areas", areas_path %>
      <% end %>
      <% if roles.include?"admin" or roles.include?"chief_editor_country" %>
        <li><%= link_to "Chief Country Editor Evaluation", chief_editors_country_path %></li>
      <% end %>
      
    </ul>
  </div>

  <% else %>
    <%= link_to "Sign up", sign_up_path %> | 
    <%= link_to "Log in", log_in_path %>
  
  <% end %>
</div>

<div class="span12">
  <% flash.each do |name, msg| %>
    <div class="alert <%= bootstrap_class_for(name) %> fade in">
    <%= content_tag :div, msg, :id => "flash#{name}" %>
    <% end %>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
